.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 6px 29px -6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 6px 29px -6px rgba(0,0,0,0.1);
  box-shadow: 0px 6px 29px -6px rgba(0,0,0,0.1);

  .right-hand-nav-icons {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .icon-element {
      margin-right: 15px;
      margin-left: 15px;
      font-size: 1.25em;

      a {
        color: lightgrey;
      }
    }
  }

  .left-hand-nav-elements {
    display: flex;
    flex: 2;

    .logo-and-hamburger {
      width: 150px;
      display: flex;
      margin-right: 42px;

      svg {
        height: 23px !important;
      }

      .icon-element {
        font-size: 1.25em;

        a {
          color: lightgrey;
        }
      }
    }

    .search-wrapper {
      .search-query-field {
        height: 2.7em;
        margin-top: -7px;
        font-size: 0.75em;
        padding-left: 5px;
        border-radius: 3px;
        border: 1px solid lightgray;
      }
      @media screen and (max-width: 768px) {
       .search-query-field {
          display: none;
        } 
      }

      @media screen and (max-width: 992px) {
       .search-query-field {
          width: 300px;
        } 
      }

      @media screen and (min-width: 1200px) {
       .search-query-field {
          width: 500px;
        } 
      }
    }
  }
}

.container {
  width: 100vw;
  margin-top: 105px;
  display: flex;
  justify-content: center;

  .video-embed {
    width: 1280px;
    margin-right: 20px;
  }

  .sidebar {
    .thumbs {
      margin-top: 20px;

      .thumb {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        font-family: 'Roboto', 'Noto', sans-serif;

        img {
          margin-right: 10px;
        }

        .thumb-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .thumb-heading {
            font-weight: 500;
          }

          .thumb-meta {
            color: grey;
          }
        }
      }
    }
  }
}